<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">

    <title>Spartan minimal UI kit</title>

    <link rel="stylesheet" href="//cdn.rawgit.com/mitjafelicijan/spartan/v1.7/dist/spartan.min.css">

    <script src="//cdn.rawgit.com/mitjafelicijan/spartan/v1.7/dist/spartan.min.js" defer></script>

  </head>

  <body>

    <section class="wrapper">
      <div class="row">
        <div class="col-12">
          <p>Content goes here ...</p>
        </div>
      </div>
    </section>

  </body>

</html>
