{% load staticfiles %}
<html>
    <head>
        <title>Canadata Explorer</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static 'site-styles.css' %}">
    </head>
    <body>
      <h1>Open Canada Datasets</h1>
      <h2>The following is a list of the top Open Data Canada datasets. Click on a title to go the portal.</h2>
      {% if titles %}
          <ul>
          {% for title in titles %}
              <h2><a href="{% url 'inventory_explorer:item_detail' title.id %}" >{{ title.title_en }}</a></h1>
              <p>{{ title.date_published }}</p>
          {% endfor %}
          </ul>
      {% else %}
          <p>No datasets are available.</p>
      {% endif %}
    </body>
</html>
<!-- {{ title.portal_url_en }} -->
