// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//MAIN COLOR PALETTE
$main-color: #FFF9FB;
$red: #BB0A21;
$blue: #4B88A2;
$dark: #252627;
$darken: #D3D4D9;
$white: #FFF;

//COMMON COLORS
$black: #000;
$white: #fff;

//LINK COLORS
$burnt_sienna: #ED7761;

//SELECTION COLORS
