@charset 'utf-8';

@import 'base/config';
// Framework configuration or other settings
// Frameworks

// Dependencies
@import 'base/functions',
'base/colors', // Only color variables.
'base/variables', // All other variables, including typography, measurements and etc.
'mixins/mixins', // Mixins, functions, extenders.
'vendor/normalize', // Contains CSS output to fix cross-browser inconsistencies.
'base/svg-sprite';

// Global HTML elements
@import 'components/global';

// Plugins - Styles of third party plugins
// Global modules - modules shared between multiple projects (e.g. admin and public sites)
// @import './src/components/notifications/notifications',
// './src/components/form-elements/index';

// Local modules
@import 'components/headings';

// Components
@import 'components/helpers',
'./src/components/header/header',
'./src/components/footer/footer';

// Print stylesheet
@import 'print';


// variables
$main-color: #FFF9FB;
$red: #BB0A21;
$blue: #4B88A2;
$dark: #252627;
$darken: #D3D4D9;
$white: #FFF;

$font-main: 'Inter UI', sans-serif;
$font-safe: 'Roboto', sans-serif;
$font-superaccent: 'Mina', sans-serif;
$font-clearstrong: 'Lato', sans-serif;
$font-condensed: 'Roboto Condensed', sans-serif;
// font-family: 'Oswald', sans-serif;
$font-peace: 'Raleway', sans-serif;
$font-quote: 'Rozha One', serif;

// $font-heavy: font-weight:700;

html,
body {
    height: 100%;
    margin: 10;
    padding: 10;
    width: 100%;
}

body {
  margin: 5%;
  padding: 0;
  font-size: 1.8rem;
  font-family: 'Helvetica', sans-serif;
  color: $red;
  background-color: $main-color;
}

header {
  display: flex;
  align-items: center;
  // margin: 10px;
  height: 25%;
  width: 100%;
}

h1 {
  color: $red;
  font-family: $font-clearstrong;
  margin-left: 48px;
}

h2 {
  color: $dark;
  font-size: 1.8rem;
  font-family: $font-main;
  margin-bottom: 48px;
  border-bottom: 2px solid #DEE2E5;
}

h3 {
  color: $red;
  font-size: 1.8rem;
  font-family: $font-peace;
  box-shadow: 0 0 12px hsla(0,0%,0,0.2);
  padding: 12px 10px;
  background-color: $white;
  margin-bottom: 6px;
  margin-top: 48px;
  border-top: 1px solid $red;
}

h3:hover {
  background-color: $darken;
}

.solidblockmenu{
    margin: 0;
    padding: 0;
    float: left;
    font-family: $font-peace;
    width: 100%;
    overflow: hidden;
    top: 0;
    position: sticky;
    margin-bottom: 1em;
    // border: 1px solid $blue;
    background: $darken;
    // border-width: 1px 0;

}

.solidblockmenu li{
    display: inline;
}

.solidblockmenu li a{
    float: left;
    color: $red;
    padding: 12px 11px;
    text-decoration: none;
    border-right: 1px solid white;
}

.solidblockmenu li a:visited{
    color: $white;
}

.solidblockmenu li a:hover, .solidblockmenu li

[disabled] {
    cursor: not-allowed;
}

ul {

}

ol {

}

figure {

}

strong {

}

em {

}

p {
  font-size: 1.3rem;
  font-family: $font-superaccent;

}


hr {

}

img {
    max-width: 15%;
}

a {
  color: $blue;
}

a:link    {
  /* Applies to all unvisited links */
  text-decoration:  none;
  font-weight:      bold;
  }
a:visited {
  /* Applies to all visited links */
  text-decoration:  none;
  font-weight:      bold;
  }
a:hover   {
  /* Applies to links under the pointer */
  text-decoration:  none;
  font-weight:      bold;
  background-color: $darken;
  }
a:active  {
  /* Applies to activated links */
  text-decoration:  underline;
  font-weight:      bold;
  }

table {
    //border-collapse: collapse;
    //table-layout: fixed;
    width: 100%;
}
